<% if user_signed_in? %>
    <% if book.favorited_by?(current_user) %>
        <%=link_to book_favorites_path(book.id), method: :delete, remote: true do %>
        	<i class="fas fa-heart" aria-hidden="true"></i>
			<%= book.favorites.count %>
        <% end %>
    <% else %>
        <%=link_to book_favorites_path(book.id), method: :post, remote: true do %>
        	<i class="far fa-heart" aria-hidden="true"></i>
			<%= book.favorites.count %>
        <% end %>
    <% end %>
<% else %>
    <p><span>お気に入り数: </span><%= book.favorites.count %></p>
<% end %>