
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @newbook %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<%= render partial: 'books/books_area' %>
					<td>
						<div id="likes_buttons_<%= @book.id %>">
							<%= render partial: 'favorites/like', locals: { book: @book} %>
						</div>
					</td>
					<td>コメント数：<%= @comments.count %></td>
				</tr>
		</table>

		<!-- コメント一覧 -->
		<div id="comments_area">
			<%= render partial:'book_comments/comments', locals: { comments: @comments} %>
		</div>

		<div id="comment_form">
			<%= render partial: 'book_comments/comment_form', locals: {comment: @comment, book: @book} %>
		</div>

	</div>
</div>